#root {
 
  margin: 0 auto;
 
  text-align: center;
  width:100%;
}


.responsiveImage {
	
  max-inline-size: 100%;
  block-size: auto;
}

.thumbnailImage {
	max-width:300px;
}

body {
  margin: 0;
  background-color:black;
  color:white;
  min-width: 320px;
  min-height: 100vh;
}

.apiSelect {
	
	width:300px;
	display:inline;
}

.searchTextbox {
	width:300px;
	display:inline;
	
}

.artCard {
	border:2px outset  white;
	 width:500px;
	 margin:3px;
	
	
}


#main {
	position: sticky;
	background-color:black;
	top:0px; 
	width:100%;
	
}